/* font faces */

@font-face {
    font-family: "basefont-regular";
    src: local("basefont-regular"), url("./assets/fonts/circular/CircularStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "basefont-medium";
    src: local("basefont-medium"), url("./assets/fonts/circular/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: "basefont-bold";
    src: local("basefont-bold"), url("./assets/fonts/circular/CircularStd-Bold.otf") format("opentype");
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.data-table {
    float: left;
}

.donut-graph {
    float: left;
}

.line-graph {
    text-align: center;
}

.table-responsive {
    height: 400px;
    overflow-y: scroll;
}